    #musicBtn {
        background: transparent; /* Supprime la bordure de fond */
        border: none; /* Supprime la bordure */
        font-size: 2em; /* Augmente la taille du bouton */
        padding: 10px; /* Ajoute un peu d'espace autour du texte */
        cursor: pointer; /* Change le curseur au survol */
    }