.bouton-flottant {
    position: fixed;
    bottom: 50px; 
    right: 20px;  
    
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5em; 
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    z-index: 1000; 
    
    transition: background-color 0.3s ease;
}

.bouton-flottant:hover {
    background-color: rgba(0, 0, 0, 0.8);
}