body {
    image-rendering: pixelated;
}

.btn-dialog {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);

    backdrop-filter: blur(8px);
}


.dialog-bottom {
    position: fixed;
    bottom: 0;
    left: 0; right: 0;
    top: auto;
    margin: 0;
    overflow: visible;
    width: 100%;

    position: relative;    transform: translateY(100%);
    transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}



.dialog-bottom[open] {
    transform: translateY(0);
}




.avatar-flottant {
    display: block ;
    width: 80px;
    height: 80px;
    position: absolute;
    top: -40px;
    left: 30px;
}

.avatar-flottant + .contenu-dialog {
    margin-left: 100px;
}

.village {
    background-image: url("../image/background-final.png");
    background-size: cover;          /* L’image remplit la page */
    background-position: center;     /* Le milieu de l’image = le milieu de l’écran */
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;

    position: relative;
}

.mide { /*violette*/
    position: absolute;
    top: 12.2%;
    left: 48%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border: none;
    cursor: pointer;
    background-color: transparent;
}

.mbureautique { /*orange*/
    position: absolute;
    top: 24.2%;
    left: 66%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border: none;
    cursor: pointer;
    background-color: transparent;
}

.mos { /*bleue*/
    position: absolute;
    top: 22.2%;
    left: 36%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border: none;
    cursor: pointer;
    background-color: transparent;
}

.mdessin { /*jaune*/
    position: absolute;
    top: 30.6%;
    left: 77.2%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border: none;
    cursor: pointer;
    background-color: transparent;
}

.mmedia { /*verte*/
    position: absolute;
    top: 57.8%;
    left: 73.8%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border: none;
    cursor: pointer;
    background-color: transparent;
}

.mrgpd { /*rouge*/
    position: absolute;
    top: 61.8%;
    left: 32%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border: none;
    cursor: pointer;
    background-color: transparent;
}

.mnird { /*nird*/
    position: absolute;
    top: 37.5%;
    left: 53%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border: none;
    cursor: pointer;
    background-color: transparent;
}
.hsnake {
    position: absolute;
    top: 80.5%;
    left: 3%;

    width: 80px;
    height: 80px;
    background-image: url("../image/parchemin.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;

    border: none;
    cursor: pointer;
    background-color: transparent;
}
