.btn-dialog {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);

    backdrop-filter: blur(8px);
}


.dialog-bottom {
    position: fixed;
    bottom: 0;
    left: 0; right: 0;
    top: auto;
    margin: 0;
    overflow: visible;
    width: 100%;

    position: relative;    transform: translateY(100%);
    transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}



.dialog-bottom[open] {
    transform: translateY(0);
}




.avatar-flottant {
    display: block ;
    width: 80px;
    height: 80px;
    position: absolute;
    top: -40px;
    left: 30px;
}

.avatar-flottant + .contenu-dialog {
    margin-left: 100px;
}

.village {
    background-image: url("../image/MA BITE£.png");
    background-size: cover;          /* L’image remplit la page */
    background-position: center;     /* Le milieu de l’image = le milieu de l’écran */
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;

    position: relative;
}